<% layout('layout/boilerplate.ejs') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <link rel="stylesheet" href="/stylesheets/user.css">

    <section class="">
        <div class="">
            <div class="">
                <div class="">
                    <div class="card mt-3">
                        <div class="rounded-top text-white d-flex flex-row"
                            style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img src="<%=user.avatar %>" alt="https://icon-library.com/images/default-profile-icon/default-profile-icon-24.jpg" class="img-fluid img-thumbnail mt-4 mb-2"
                                style="width: 150px; z-index: 1">
                                    
                                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                    style="z-index: 1;">
                                    Edit profile
                                </button>
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                <h5>
                                    <%= user.firstname +" "+ user.lastname %></h5>
                                <p>New York</p>
                            </div>
                        </div>
                        <div class=" p-4 text-black" style="background-color: #f8f9fa;">
                                        <div class="d-flex justify-content-end text-center py-1">
                                            <div>
                                                <p class="mb-1 h5">253</p>
                                                <p class="small text-muted mb-0">Photos</p>
                                            </div>
                                            <div class="px-3">
                                                <p class="mb-1 h5">1026</p>
                                                <p class="small text-muted mb-0">Followers</p>
                                            </div>
                                            <div>
                                                <p class="mb-1 h5">478</p>
                                                <p class="small text-muted mb-0">Following</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="card-body p-4 text-black">
                                <div class="mb-5">
                                    <p class="lead fw-normal mb-1">About</p>
                                    <div class="p-4" style="background-color: #f8f9fa;">
                                        <p class="font-italic mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing
                                            elit. Molestias atque, id velit qui sapiente saepe facere praesentium,
                                            officia laboriosam fugit adipisci, eveniet tempore excepturi quo suscipit
                                            architecto ipsum laudantium ipsa?</p>
                                        <!-- <p class="font-italic mb-1">Lives in New York</p>
                                    <p class="font-italic mb-0">Photographer</p> -->
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="breadcrumb pt-3 mx-4 mt-3">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/users/<%= user._id %>">Personal
                                            Recipes</a></li>
                                    <li class="breadcrumb-item"><a href="/users/<%= user._id %>/reviews">Reviews</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
                                </ol>
                            </nav>
                            <div class="d-flex justify-content-between align-items-center mb-4">

                            </div>
                            <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 mb-3  ">
                                <% if(typeof recipes !=='undefined' && recipes.length> 0) { %>

                                    <%recipes.forEach((recipe)=>{%>

                                        <div class="card mb-3" style="width: 18rem; margin: 2rem;">
                                            <%# recipe.images.forEach((image, index)=>{%>
                                                <a href="/recipes/<%=recipe._id%>" class="col text-center ">
                                                    <div class="col text-center">
                                                        <img class="card-img-top" src="<%= recipe.images[0].url %>"
                                                            alt="Card image cap">
                                                    </div>
                                                </a>
                                                <%# }) %>
                                                    <div class="card-body">
                                                        <h5 class="card-title"> <Strong><a
                                                                    href="/recipes/<%=recipe._id%>">
                                                                    <%=recipe.title %>
                                                                </a></Strong></h5>
                                                        <p class="card-text">
                                                            <%= recipe.description.slice(0,60) %>...
                                                        </p>
                                                        <a href="/recipes/<%= recipe._id %>"
                                                            class="btn btn-outline-secondary btn-lg px-4 me-md-2"
                                                            style="font: size 15px; ;">Rate &
                                                            Review</a>
                                                    </div>
                                        </div>
                                        <% }) %>
                                            <% } %>
                            </div>
                            <div class="container">

                                <% if(typeof reviews !=='undefined' && reviews.length> 0) { %>
                                    <h1>Reviews</h1>
                                    <%reviews.forEach((review)=>{%>
                                        <div class="card_review mb-3">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <%if(review.recipe.images.length) {%>
                                                        <a href="/recipes/<%=review.recipe._id%>">
                                                            <img class="img-fluid" alt=""
                                                                src="<%=review.recipe.images[0].url%>">
                                                        </a>
                                                        <% }else {%>
                                                            <a href="/recipes/<%=review.recipe._id%>">
                                                                <img class="img-fluid" alt=""
                                                                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png"></a>
                                                            <% }%>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title fw-bold lead">
                                                            <%= review.recipe.title %>
                                                        </h5>
                                                        <p class="starability-result"
                                                            data-rating="<%= review.rating %>">
                                                            Rated: <%= review.rating %> stars
                                                        </p>
                                                        <p class="card-text">
                                                            <%= review.body %>
                                                        </p>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <%})%>
                                            <% } else{%>
                                                <p>No Reviews yet</p>
                                                <% } %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <div class=" thumbnail">
        <img src="<%=user.avatar %>">
        <div class="caption mb-3"><a href="mailto:<%= user.email %>">
                <%= user.email %>
            </a>
        </div>
    </div>